/**{
    margin: ;
    padding;
    box-sizing:border-box
}*/
h1{
    font-size: 28px;
    text-transform: uppercase;
}
#job{
    font-size: 18px;
    font-weight: bolder;
}
.summary {
    font-size: 16px;
    line-height: 20px;
}
h3{
    font-size: 20px;
    color: #114232;
    border-bottom: 1px solid #e5e483;
    padding-bottom: 2px;
}
body{
    background-color:#fbfbeb;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin bottom: 100px;

}
footer{
    text-align: center;
    padding: 2px 10px;
    background-color : #e5e483
}
header{
    text-align: center;
    background-color: #b2b377;
    padding-top: 2px;
    padding-bottom: 2px;
    width: 100%;
} 
a{
    color: #114232;
}
a:hover{
    text-decoration: underline;
    color:#264653;;
}
table {
    border-collapse :collapse ;
    padding: 5px;
}
table tr:first-child{
    background-color: midnightblue;
    text-align: center;
    color: blanchedalmond;
}
 td{
    border: 1px solid green;
    padding: 5px;
 }  
section{
    padding: 2px;
    
}

ul{
    margin: 0px;
}
li{
    margin-bottom: 5px;
}
form label{
    color:green;
   
}
input ,textarea{
    border: 1px solid;
    padding: 5px;
    margin-bottom: 5px;
    color:green ;
}  
input{
    width: 150px;
}

img{
    transition: transform 1s;
    z-index: 1;
}
img:hover{
    transform: scale(1.05);
}
header{
    display: grid;
    grid-template-areas: ;
}
header h1{
    grid-row: heading;
}
header p{
    grid-area: p;
}
article {
    animation: changebakgrond 5s ease 0s infinite  alternate-reverse
}   

article p :hover{
    transform: translate(50px);
}

/*@keyframes moveDown{
    0%{
    transform: translateY(-50px);
    opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}*/
@media (minwidth)






